# <font color = 'blue' > BUSI 732 Quantitative Operations - Summer 2023 </font>
## <font color = 'blue' > Angela Wilkins and Emma Zohner </font>

## INTRODUCTION

#### Course Schedule
May 8 - June 23, 2023
7-week course May 8 - June 23
Two weekly on-campus class meetings, TTH 2:30-3:45p

#### Course Objectives and Learning Outcomes

This applied course focuses on data transformation and analytics in operations management. 

Data transformation is extracting good, reliable information from data sources. Data analytics is the process of examining data to find trends and draw conclusions. This involves converting data from one structure (or no structure) to another so you can integrate it with a data warehouse or with different applications. It allows you to expose the information to advanced tools to create valuable insights.

The goal of this class will be to show that you 
- Understand the data,
- Can map the data,
- Can transform the data, and
- Can answer a question about the data.

The projects in this class are designed to push you to think critically and apply what you have learned through your graduate program. It allows you to show the faculty of the department what youâ€™ve learned throughout the program and ensure that you're adequately prepared.

What sets a project apart from just an exam is its real-world application. Rather than just proving you understand the subject matter, these projects will require you to apply the knowledge and experience in a way similar to how one would as a data analyst or scientist. 

This class will require you to:
- To manipulate data in Python 
- To extract data from text files, perform fundamental analysis
- To visualize data and results
- Write a report of insights and findings

Students must create a digital notebook to document ideas, notes, and findings of projects.

## DATA SOURCES

* [Kaggle datasets](https://www.kaggle.com/datasets)
* [UCI](https://archive.ics.uci.edu/ml/datasets.php)

## WIND PROJECT

* [Texas Wind Turbine Dataset - Simulated](https://www.kaggle.com/datasets/pravdomirdobrev/texas-wind-turbine-dataset-simulated)
* [Wind speed forecast datasets](https://www.kaggle.com/datasets/yingqizhu/wind-speed-forecast-datasets)

#### read about the data then clearly define hypotheses and questions
* Why is this an important problem? 
* What questions will this analysis answer?

In [2]:
# load packages
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

#### read datasets 
download datasets from links and read into notebook.

In [15]:
path = 'C:/Users/etrao/Box/Teaching/2023 Summer/Quantitative Methods/'

df1a = pd.read_csv(path + 'TexasTurbine.csv')
df1b = pd.read_csv(path + 'GE Turbine Power Curve.csv')

df2  = pd.read_csv(path + 'Wind speed dataset.csv')

#### explore datasets - summary statistics
learn about the data.

In [21]:
df1a.shape

(8760, 6)

In [16]:
df1a.head(3)

,Time stamp,System power generated | (kW),Wind speed | (m/s),Wind direction | (deg),Pressure | (atm),Air temperature | ('C)
0,"Jan 1, 12:00 am",1766.64,9.926,128,1.000480,18.263
1,"Jan 1, 01:00 am",1433.83,9.273,135,0.999790,18.363
2,"Jan 1, 02:00 am",1167.23,8.660,142,0.999592,18.663

In [18]:
df1a.describe()

,System power generated | (kW),Wind speed | (m/s),Wind direction | (deg),Pressure | (atm),Air temperature | ('C)
count,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,964.467934,7.376120,146.616210,0.992368,22.147298
std,878.558112,3.138291,84.678754,0.005332,4.855232
min,0.000000,0.119000,0.000000,0.974514,3.263000
25%,215.951500,5.121000,99.000000,0.988925,19.463000
50%,693.968500,7.340500,135.000000,0.991495,22.763000
75%,1562.287500,9.599000,169.000000,0.995045,26.063000
max,3004.010000,19.743000,360.000000,1.014510,32.963000

#### explore datasets - visualization
explore patterns in the data via data visualization.

#### clean datasets
prepare data for analysis by removing or modifying data that is incorrect, incomplete, irrelevant, duplicated, or improperly formatted, potentially combine datasets, potentially engineer new features.

#### analyze datasets / test hypotheses / make associations / make predictions
answer questions about the data via analysis and hypothesis testing.

#### compute metrics and results
define and compute metrics that will help make conclusions amd answer questions.

#### draw conclusions
what did you find?